@keyframes mild-pulse {
	50% {
		opacity: 0.8;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 5%, 0);
	}
	50% {
		opacity: 0.2;
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.background-pan {
	animation: background-pan 5s linear infinite;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

.vibrate {
	animation: vibrate 0.5s;
	animation-iteration-count: infinite;
}

@keyframes vibrate {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.rocket-animation {
	animation: rocket-animation 2s ease-in-out infinite;
}

@keyframes rocket-animation {
	0% {
		transform: translate(0, 0) rotate(0);
		height: 2rem;
		position: absolute;
	}
	40%,
	60% {
		transform: translate(40vw, 50vh) rotate(-45deg);
		height: 32vh;
		position: absolute;
	}
	100% {
		transform: translate(100vw, -50vh) rotate(45deg);
		height: 24vh;
		position: absolute;
	}
}

@keyframes wobble {
	from {
		transform: translate3d(0, 0, 0);
	}
	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.animate-wobble {
	animation: wobble 1s linear 1;
}
