@import url('./animations.css');
@import url('./fonts.css');
@import url('./scrollbars.css');

@import url('https://esm.sh/aos@next/dist/aos.css');
@import url('https://esm.sh/toastify-js@1.12.0/src/toastify.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html.dark {
	--primary: theme('colors.slate.900');
}

html {
	background-color: theme('colors.slate.900');
}

body {
	font-family: Inter var, Roboto, Calibri, sans-serif;
	background-size: 100% 650px;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, var(--primary), #000);
}
#stars {
	@apply fixed w-full h-full bg-no-repeat [background-size:100%_650px] [background-image:url('/assets/stars.svg')] z-0 pointer-events-none;
}

#main {
	@apply z-10;
}

:where(#main *) {
	@apply z-10;
}

.prose {
	max-width: unset;
}

.nav-link.active {
	@apply hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500;
}

.toastify br {
	display: none;
}
