:root {
  --primary: #1f1f4c;
  --bs-primary: var(--primary);
  --bs-primary-rgb: 31, 31, 76;
  --bs-body-font-family: Inter var, Roboto, Calibri, sans-serif;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('./Inter-italic-latin.var.woff2') format('woff2');
}

[un-cloak] {
  display: none;
}

body {
  font-family: Inter var, Roboto, Calibri, sans-serif;
}
