@import url('./animations.css');
@import url('./fonts.css');
@import url('./scrollbars.css');

@import url('https://esm.sh/aos@next/dist/aos.css');
@import url('https://esm.sh/toastify-js@1.12.0/src/toastify.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-bs-theme='dark'] {
	--primary: theme(colors.slate.900);
	--app-size-message: 'Loading insane amounts ($$APP_SIZE_PLACEHOLDER$$ MB) of JavaScript...';
}

body {
	font-family: Inter var, Roboto, Calibri, sans-serif;
	background-size: 100% 650px;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, var(--primary), #000);
	/* overflow-x: hidden; */
}
#stars {
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 650px;
	background-image: url('/assets/stars.svg');
	z-index: 0;
	pointer-events: none;
}

#main {
	z-index: 1;
}

:where(#main *) {
	z-index: 1;
}

.astrotours {
	@apply bg-clip-text text-transparent font-bold bg-gradient-to-r from-gray-200 via-slate-500 to-gray-200;
	animation: background-pan 5s linear infinite;
	background-size: 200%;
}

.prose {
	max-width: unset;
}

.nav-link.active {
	@apply hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500;
}
