::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-track {
	background: theme('colors.slate.900');
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	width: 80%;
	border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
	background: #717171;
}
