@keyframes hero-btn-1 {
	0%,
	16.667%,
	to {
		opacity: 1;
	}

	33%,
	83.333% {
		opacity: 0;
	}
}

@keyframes hero-btn-2 {
	0%,
	16.667%,
	66.667%,
	to {
		opacity: 0;
	}

	33.333%,
	50% {
		opacity: 1;
	}
}

@keyframes hero-btn-3 {
	0%,
	50%,
	to {
		opacity: 0;
	}

	66.667%,
	83.333% {
		opacity: 1;
	}
}

#hero-text {
	background-image: linear-gradient(
		var(--angle),
		'#64748b',
		'#E5E7EB',
		'#64748b'
	);
}
