<!DOCTYPE html>
<html lang="en" class="bg-black dark">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cart - AstroTours</title>
		<meta property="og:title" content="Cart - AstroTours" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="TSA Webmaster 2023 site" />
		<meta property="og:url" content="https://webmaster.harryallen.dev/cart" />
		<meta
			property="og:image"
			content="https://webmaster.harryallen.dev/assets/logo.png"
		/>
		<meta name="description" content="TSA Webmaster 2023 site" />
		<script type="module" defer src="/js/index.mjs"></script>
		<link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/main.bundle.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://esm.sh/toastify-js@1.12.0/src/toastify.min.css"
		/>

		<link rel="stylesheet" href="/css/main.bundle.css" />
	</head>
	<body class="bg-black min-h-[100vh]">
		<div id="stars"></div>
		<div id="loader"></div>
		<wm-navbar></wm-navbar>
		<div
			id="main"
			class="flex flex-col my-8 mx-8 md:mx-16 lg:mx-32 items-center prose prose-invert"
		>
			<h1 class="font-bold mb-8">Cart</h1>

			<template v-if="items.length">
				<form
					@submit="$event.preventDefault() || items.length ? goto('/checkout') : alert('You have no items in your cart!')"
					class="flex flex-col lg:justify-center max-w-full !lg:w-[75%] !lg-px-48 lg:items-start items-center md:w-xl lg:grid lg:grid-cols-[2fr_1fr] gap-4"
				>
					<div class="flex justify-center items-center max-w-full">
						<div
							class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
						>
							<template v-for="(item, i) in items">
								<h5
									class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
								>
									{{ item[0].name }}
								</h5>
								<div class="flex flex-row place-content-between">
									<div class="flex flex-row items-center">
										Qty:
										<div class="hs-dropdown relative inline-flex">
											<button
												type="button"
												class="hs-dropdown-toggle ml-2 py-2 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
											>
												{{ item[1] }}
												<svg
													class="hs-dropdown-open:rotate-180 w-2.5 h-2.5 text-gray-600"
													width="16"
													height="16"
													viewBox="0 0 16 16"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
														stroke="currentColor"
														stroke-width="2"
														stroke-linecap="round"
													/>
												</svg>
											</button>

											<div
												class="hs-dropdown-menu ml-4 transition-[opacity,margin] duration-[0.1ms] hs-dropdown-open:opacity-100 opacity-0 w-72 hidden z-10 min-w-[15rem] bg-white shadow-md rounded-lg p-1 dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700"
											>
												<button
													v-for="it in item[0].maxPeople"
													@click="changeQuantity(item[0].name, it)"
													class="w-full flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
													href="#"
												>
													{{ it }}
												</button>
											</div>
										</div>
									</div>
									<p>{{ numberFormatter.format(item[0].price) }}</p>
								</div>
								<div class="w-full flex justify-between">
									<div
										@vue:mounted="initDatepickers()"
										date-rangepicker
										class="flex items-center"
									>
										<div class="relative">
											<div
												class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
											>
												<svg
													aria-hidden="true"
													class="w-5 h-5 text-gray-500 dark:text-gray-400"
													fill="currentColor"
													viewBox="0 0 20 20"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														fill-rule="evenodd"
														d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
														clip-rule="evenodd"
													></path>
												</svg>
											</div>
											<input
												autocomplete="off"
												datepicker-autohide
												required
												name="start"
												type="text"
												class="py-3 px-4 block border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 w-44 pl-10"
												placeholder="Date start"
											/>
										</div>
										<span class="mx-4 text-white">to</span>
										<div class="relative">
											<div
												class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
											>
												<svg
													aria-hidden="true"
													class="w-5 h-5 text-gray-500 dark:text-gray-400"
													fill="currentColor"
													viewBox="0 0 20 20"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														fill-rule="evenodd"
														d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
														clip-rule="evenodd"
													></path>
												</svg>
											</div>
											<input
												autocomplete="off"
												datepicker-autohide
												required
												name="end"
												type="text"
												class="py-3 px-4 block w-44 pl-10 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
												placeholder="Date end"
											/>
										</div>
									</div>

									<button
										type="button"
										class="text-red-600 mr-0 ml-4 transition-colors hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:text-red-500 dark:hover:text-white dark:focus:ring-red-800 dark:hover:bg-red-900 self-end"
										@click="removeItem(item[0].name)"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											/>
										</svg>
									</button>
								</div>
								<div class="h-[1px] bg-gray-700 w-full my-4 last:hidden"></div>
							</template>
						</div>
					</div>
					<div class="max-w-full">
						<div
							class="flex space-y-2 flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] not-prose"
						>
							<h3 class="text-lg mb-4 font-bold text-gray-800 dark:text-white">
								Order Summary
							</h3>
							<div class="flex flex-row justify-between">
								<p>Subtotal</p>
								<p>
									{{ numberFormatter.format(items.reduce((acc, val) => acc +
									val[0].price * val[1], 0)) }}
								</p>
							</div>
							<div class="flex flex-row justify-between">
								<p>Estimated Tax</p>
								<p>
									{{ numberFormatter.format(items.reduce((acc, val) => acc +
									val[0].price * val[1], 0) * 0.1) }}
								</p>
							</div>
							<div class="flex flex-row justify-between font-bold">
								<p>Estimated Total</p>
								<p>
									{{ numberFormatter.format(items.reduce((acc, val) => acc +
									val[0].price * val[1], 0) * 1.1) }}
								</p>
							</div>
							<div class="flex justify-end">
								<button
									type="submit"
									class="py-2 px-4 mt-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800 animate-wobble"
								>
									Checkout
								</button>
							</div>
						</div>
					</div>
				</form>
			</template>
			<template v-else>
				<p>
					No items! Go to our
					<a href="/book" @vue:mounted="routerLink($el)">book</a> page to book a
					trip!
				</p>
			</template>
		</div>
		<wm-footer></wm-footer>
	</body>
</html>
