<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cart - AstroTours</title>
		<meta property="og:title" content="Cart - AstroTours" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="TSA Webmaster 2023 site" />
		<meta property="og:url" content="https://webmaster.harryallen.dev/cart" />
		<meta
			property="og:image"
			content="https://webmaster.harryallen.dev/assets/logo.png"
		/>
		<meta name="description" content="TSA Webmaster 2023 site" />
		<script type="module" defer src="/js/index.mjs"></script>
		<link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/main.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://esm.sh/toastify-js@1.12.0/src/toastify.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://esm.sh/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="bg-black min-h-[calc(100vh-4rem)]">
		<div id="stars"></div>
		<div id="loader"></div>
		<wm-navbar></wm-navbar>
		<div
			id="main"
			class="flex flex-col my-8 mx-8 md:mx-16 lg:mx-32 items-center"
			un-cloak
		>
			<h1 class="font-bold mb-8">Cart</h1>

			<template v-if="items.length">
				<form
					novalidate
					@submit="gotoCheckout"
					class="needs-validation flex flex-col lg:justify-center max-w-full !lg:w-[75%] !lg-px-48 lg:items-start items-center md:w-xl lg:grid lg:grid-cols-[2fr_1fr] gap-4"
				>
					<div class="flex justify-center items-center max-w-full">
						<div class="card bg-gray-800 rounded-md w-md lg:w-full">
							<div class="card-body">
								<template v-for="(item, i) in items">
									<h5 class="card-title">{{ item[0].name }}</h5>
									<div class="flex flex-row place-content-between">
										<div class="flex flex-row items-center">
											Qty:
											<div class="dropdown ml-2">
												<button
													class="btn btn-sm btn-secondary dropdown-toggle"
													type="button"
													data-bs-toggle="dropdown"
													aria-expanded="false"
												>
													{{ item[1] }}
												</button>
												<ul class="dropdown-menu">
													<li v-for="it in item[0].maxPeople">
														<button
															@click="changeQuantity(item[0].name, it)"
															class="dropdown-item"
															type="button"
														>
															{{ it }}
														</button>
													</li>
												</ul>
											</div>
										</div>
										<p>{{ numberFormatter.format(item[0].price) }}</p>
									</div>
									<div class="w-full flex justify-between">
										<div class="flex flex-col md:flex-row gap-1">
											<label class="!w-36">
												<input
													type="date"
													@input="document.querySelector('form').classList.remove('was-validated')"
													required
													class="form-control"
												/>
												<div class="invalid-feedback">
													Date is invalid or not provided
												</div>
											</label>
											<label class="!w-36">
												<input
													type="date"
													@input="document.querySelector('form').classList.remove('was-validated')"
													required
													class="form-control"
												/>
												<div class="invalid-feedback">
													Date is invalid or not provided
												</div>
											</label>
										</div>
										<button
											type="button"
											class="btn btn-danger btn-small self-end"
											@click="removeItem(item[0].name)"
											@vue:mounted="addBlobListeners($el)"
										>
											Remove
										</button>
									</div>
									<div
										class="h-[1px] bg-[var(--bs-border-color-translucent)] w-full my-2 last:hidden"
									></div>
								</template>
							</div>
						</div>
					</div>
					<div class="max-w-full">
						<div class="card bg-gray-800 rounded-md">
							<div class="card-body">
								<h5 class="card-title">Order Summary</h5>
								<div class="flex flex-row justify-between">
									<p>Subtotal</p>
									<p>
										{{ numberFormatter.format(items.reduce((acc, val) => acc +
										val[0].price * val[1], 0)) }}
									</p>
								</div>
								<div class="flex flex-row justify-between">
									<p>Estimated Tax</p>
									<p>
										{{ numberFormatter.format(items.reduce((acc, val) => acc +
										val[0].price * val[1], 0) * 0.1) }}
									</p>
								</div>
								<div class="flex flex-row justify-between font-bold">
									<p>Estimated Total</p>
									<p>
										{{ numberFormatter.format(items.reduce((acc, val) => acc +
										val[0].price * val[1], 0) * 1.1) }}
									</p>
								</div>
								<div class="flex justify-end">
									<button
										@vue:mounted="addBlobListeners($el)"
										type="submit"
										class="btn btn-primary animate-wobble"
									>
										Checkout
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</template>
			<template v-else>
				<p>
					No items! Go to our
					<a href="/book" @vue:mounted="routerLink($el)">book</a> page to book a
					trip!
				</p>
			</template>
		</div>
		<wm-footer></wm-footer>
	</body>
</html>
