<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checkout - AstroTours</title>
		<meta property="og:title" content="Checkout - AstroTours" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="TSA Webmaster 2023 site" />
		<meta
			property="og:url"
			content="https://webmaster.harryallen.dev/checkout"
		/>
		<meta
			property="og:image"
			content="https://webmaster.harryallen.dev/assets/logo.png"
		/>
		<meta name="description" content="TSA Webmaster 2023 site" />
		<script type="module" defer src="/js/index.mjs"></script>
		<link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/main.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://esm.sh/toastify-js@1.12.0/src/toastify.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://esm.sh/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="bg-black min-h-[calc(100vh-4rem)]">
		<div id="stars"></div>
		<div id="loader"></div>
		<wm-navbar></wm-navbar>
		<div
			id="main"
			class="flex flex-col my-8 mx-8 md:mx-16 lg:mx-32 items-center"
			un-cloak
		>
			<h1 class="font-bold mb-8">Checkout</h1>

			<template v-if="items.length">
				<form
					novalidate
					@submit.prevent="submit"
					class="flex flex-col lg:justify-center max-w-full !lg:w-[75%] !lg-px-48 lg:items-start items-center md:w-xl lg:grid lg:grid-cols-[2fr_1fr] gap-4"
				>
					<div class="flex justify-center items-center max-w-full">
						<div class="card bg-gray-800 rounded-md w-md lg:w-full">
							<div class="card-body">
								<h5 class="card-title">Billing Information</h5>
								<div class="grid grid-cols-2 gap-2">
									<div class="mb-3">
										<label for="firstName" class="form-label">First Name</label>
										<input
											type="text"
											class="form-control"
											id="firstName"
											v-model="firstName"
											required
										/>
										<div class="invalid-feedback">Please enter a name</div>
									</div>
									<div class="mb-3">
										<label for="lastName" class="form-label">Last Name</label>
										<input
											type="text"
											class="form-control"
											id="lastName"
											v-model="lastName"
											required
										/>
										<div class="invalid-feedback">Please enter a name</div>
									</div>
								</div>

								<div class="mb-3">
									<label for="card" class="form-label">Card Number</label>
									<input
										type="tel"
										inputmode="numeric"
										autocomplete="cc-number"
										maxlength="19"
										placeholder="xxxx xxxx xxxx xxxx"
										type="text"
										class="form-control"
										id="card"
										v-model="card"
										required
									/>
									<div class="invalid-feedback">
										Please enter a valid card number
									</div>
								</div>
								<div class="grid grid-cols-2 gap-2">
									<div class="mb-3">
										<label for="exp" class="form-label">Expiration Date</label>
										<input
											type="date"
											class="form-control"
											id="exp"
											v-model="expiration"
											autocomplete="cc-exp"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid expiration date
										</div>
									</div>
									<div class="mb-3">
										<label for="cvv" class="form-label">CVV</label>
										<input
											type="text"
											class="form-control"
											id="cvv"
											v-model="cvv"
											pattern="\d{3}"
											required
											autocomplete="cc-csc"
										/>
										<div class="invalid-feedback">Please enter a valid CVV</div>
									</div>
								</div>

								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input
										type="email"
										class="form-control"
										id="email"
										v-model="email"
										required
									/>
									<div class="invalid-feedback">Please enter a valid email</div>
								</div>
								<div class="mb-3">
									<label for="phone" class="form-label">Phone</label>
									<input
										type="tel"
										class="form-control"
										id="phone"
										v-model="phone"
										required
									/>
									<div class="invalid-feedback">Please enter a valid phone</div>
								</div>
								<div class="mb-3">
									<label for="address" class="form-label">Address</label>
									<input
										type="text"
										class="form-control"
										id="address"
										v-model="address"
										required
									/>
									<div class="invalid-feedback">
										Please enter a valid address
									</div>
								</div>
								<div class="grid grid-cols-4 gap-2">
									<div class="mb-3">
										<label for="city" class="form-label">City</label>
										<input
											type="text"
											class="form-control"
											id="city"
											v-model="city"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid city
										</div>
									</div>
									<div class="mb-3">
										<label for="state" class="form-label">State</label>
										<input
											type="text"
											class="form-control"
											id="state"
											v-model="state"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid state
										</div>
									</div>
									<div class="mb-3">
										<label for="zip" class="form-label">Zip</label>
										<input
											type="text"
											class="form-control"
											id="zip"
											v-model="zip"
											required
										/>
										<div class="invalid-feedback">Please enter a valid zip</div>
									</div>
									<div class="mb-3">
										<label for="country" class="form-label">Country</label>
										<input
											type="text"
											class="form-control"
											id="country"
											v-model="country"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid country
										</div>
									</div>
								</div>

								<div class="form-check">
									<label class="form-check-label" for="agree">
										By checking this box, I understand that AstroTours is not
										liable for any potential hazards during space flights
										including sun radiation, hostile space environment and
										altered gravity fields.
									</label>
									<input
										class="form-check-input"
										type="checkbox"
										v-model="agree"
										id="agree"
										required
									/>
									<div class="invalid-feedback">
										You must agree before submitting.
									</div>
								</div>
								<div class="flex justify-end">
									<button type="submit" class="btn btn-primary animate-wobble">
										Purchase
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="max-w-full">
						<div class="card bg-gray-800 rounded-md">
							<div class="card-body">
								<h5 class="card-title">Order Summary</h5>
								<div class="w-full">
									<div class="flex flex-row justify-between">
										<p>Subtotal</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0)) }}
										</p>
									</div>
									<div class="flex flex-row justify-between">
										<p>Estimated Tax</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0) * 0.1) }}
										</p>
									</div>
									<div class="flex flex-row justify-between font-bold">
										<p>Estimated Total</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0) * 1.1) }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</template>
			<template v-else>
				<p>
					No items! Go to our
					<a href="/book" @vue:mounted="routerLink($el)">book</a> page to book a
					trip!
				</p>
			</template>
		</div>
		<wm-footer></wm-footer>
	</body>
</html>
