<!DOCTYPE html>
<html lang="en" class="bg-black dark">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checkout - AstroTours</title>
		<meta property="og:title" content="Checkout - AstroTours" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="TSA Webmaster 2023 site" />
		<meta
			property="og:url"
			content="https://webmaster.harryallen.dev/checkout"
		/>
		<meta
			property="og:image"
			content="https://webmaster.harryallen.dev/assets/logo.png"
		/>
		<meta name="description" content="TSA Webmaster 2023 site" />
		<script type="module" defer src="/js/index.mjs"></script>
		<link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/main.bundle.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://esm.sh/toastify-js@1.12.0/src/toastify.min.css"
		/>

		<link rel="stylesheet" href="/css/main.bundle.css" />
	</head>
	<body class="bg-black min-h-[100vh]">
		<div id="stars"></div>
		<div id="loader"></div>
		<wm-navbar></wm-navbar>
		<div
			id="main"
			class="flex flex-col my-8 mx-8 md:mx-16 lg:mx-32 items-center prose prose-invert"
		>
			<h1 class="font-bold mb-8">Checkout</h1>

			<template v-if="items.length">
				<form
					novalidate
					@submit.prevent="submit"
					class="flex flex-col lg:justify-center max-w-full !lg:w-[75%] lg:items-start items-center md:w-xl lg:grid lg:grid-cols-[2fr_1fr] gap-4"
				>
					<div class="flex justify-center items-center max-w-full">
						<div class="card bg-gray-800 rounded-md w-md lg:w-full">
							<div class="card-body">
								<h5 class="card-title">Billing Information</h5>
								<div class="grid grid-cols-2 gap-2">
									<div class="mb-3">
										<label
											for="firstName"
											class="block text-sm font-medium mb-2 dark:text-white"
											>First Name</label
										>
										<input
											placeholder="Sam"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="firstName"
											v-model="firstName"
											required
										/>
										<div class="invalid-feedback">Please enter a name</div>
									</div>
									<div class="mb-3">
										<label
											for="lastName"
											class="block text-sm font-medium mb-2 dark:text-white"
											>Last Name</label
										>
										<input
											placeholder="Liyanage"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="lastName"
											v-model="lastName"
											required
										/>
										<div class="invalid-feedback">Please enter a name</div>
									</div>
								</div>

								<div class="mb-3">
									<label
										for="card"
										class="block text-sm font-medium mb-2 dark:text-white"
										>Card Number</label
									>
									<input
										type="tel"
										inputmode="numeric"
										autocomplete="cc-number"
										maxlength="19"
										placeholder="xxxx xxxx xxxx xxxx"
										type="text"
										class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
										id="card"
										v-model="card"
										required
									/>
									<div class="invalid-feedback">
										Please enter a valid card number
									</div>
								</div>
								<div class="grid grid-cols-2 gap-2">
									<div class="mb-3">
										<label
											for="exp"
											class="block text-sm font-medium mb-2 dark:text-white"
											>Expiration Date</label
										>
										<input
											type="text"
											pattern="\d{2}/\d{2}"
											placeholder="MM/YY"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="exp"
											v-model="expiration"
											autocomplete="cc-exp"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid expiration date
										</div>
									</div>
									<div class="mb-3">
										<label
											for="cvv"
											class="block text-sm font-medium mb-2 dark:text-white"
										>
											CVV
										</label>
										<input
											placeholder="125"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="cvv"
											v-model="cvv"
											pattern="\d{3}"
											required
											autocomplete="cc-csc"
										/>
										<div class="invalid-feedback">Please enter a valid CVV</div>
									</div>
								</div>

								<div class="mb-3">
									<label
										for="email"
										class="block text-sm font-medium mb-2 dark:text-white"
										>Email</label
									>
									<input
										type="email"
										class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
										id="email"
										placeholder="mesenuka125@yahoo.com"
										v-model="email"
										required
									/>
									<div class="invalid-feedback">Please enter a valid email</div>
								</div>
								<div class="mb-3">
									<label
										for="phone"
										class="block text-sm font-medium mb-2 dark:text-white"
										>Phone</label
									>
									<input
										placeholder="206 351 9028"
										type="tel"
										class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
										id="phone"
										v-model="phone"
										required
									/>
									<div class="invalid-feedback">Please enter a valid phone</div>
								</div>
								<div class="mb-3">
									<label
										for="address"
										class="block text-sm font-medium mb-2 dark:text-white"
										>Address</label
									>
									<input
										placeholder="101 101st St"
										type="text"
										class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
										id="address"
										v-model="address"
										required
									/>
									<div class="invalid-feedback">
										Please enter a valid address
									</div>
								</div>
								<div class="grid grid-cols-4 gap-2">
									<div class="mb-3">
										<label
											for="city"
											class="block text-sm font-medium mb-2 dark:text-white"
											>City</label
										>
										<input
											placeholder="Seattle"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="city"
											v-model="city"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid city
										</div>
									</div>
									<div class="mb-3">
										<label
											for="state"
											class="block text-sm font-medium mb-2 dark:text-white"
											>State</label
										>
										<input
											placeholder="Wisconson"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="state"
											v-model="state"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid state
										</div>
									</div>
									<div class="mb-3">
										<label
											for="zip"
											class="block text-sm font-medium mb-2 dark:text-white"
											>Zip</label
										>
										<input
											type="text"
											placeholder="98034"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="zip"
											v-model="zip"
											required
										/>
										<div class="invalid-feedback">Please enter a valid zip</div>
									</div>
									<div class="mb-3">
										<label
											for="country"
											class="block text-sm font-medium mb-2 dark:text-white"
											>Country</label
										>
										<input
											placeholder="Georgia"
											type="text"
											class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
											id="country"
											v-model="country"
											required
										/>
										<div class="invalid-feedback">
											Please enter a valid country
										</div>
									</div>
								</div>

								<div class="form-check">
									<label class="form-check-label" for="agree">
										By checking this box, I understand that AstroTours is not
										liable for any potential hazards during space flights
										including sun radiation, hostile space environment and
										altered gravity fields.
									</label>
									<input
										class="form-check-input"
										type="checkbox"
										v-model="agree"
										id="agree"
										required
									/>
									<div class="invalid-feedback">
										You must agree before submitting.
									</div>
								</div>
								<div class="flex justify-end">
									<button type="submit" class="btn btn-primary animate-wobble">
										Purchase
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="max-w-full">
						<div class="card bg-gray-800 rounded-md">
							<div class="card-body">
								<h5 class="card-title">Order Summary</h5>
								<div class="w-full">
									<div class="flex flex-row justify-between">
										<p>Subtotal</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0)) }}
										</p>
									</div>
									<div class="flex flex-row justify-between">
										<p>Estimated Tax</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0) * 0.1) }}
										</p>
									</div>
									<div class="flex flex-row justify-between font-bold">
										<p>Estimated Total</p>
										<p>
											{{ numberFormatter.format(items.reduce((acc, val) => acc +
											val[0].price * val[1], 0) * 1.1) }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</template>
			<template v-else>
				<p>
					No items! Go to our
					<a href="/book" @vue:mounted="routerLink($el)">book</a> page to book a
					trip!
				</p>
			</template>
		</div>
		<wm-footer></wm-footer>
	</body>
</html>
