<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Compare - AstroTours</title>
		<script type="module" defer src="/js/index.mjs"></script>
		<link rel="stylesheet" href="/css/main.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="bg-black min-h-[calc(100vh-4rem)]">
		<div id="stars"></div>
		<div id="loader"></div>
		<wm-navbar></wm-navbar>
		<div
			id="main"
			class="flex flex-col my-8 mx-8 md:mx-16 lg:mx-32 items-center"
			un-cloak
		>
			<!-- based off of https://store.google.com/magazine/compare_pixel -->
			<h1 class="font-bold mb-8">Which plan is right for you?</h1>
			<div class="flex flex-col w-md lg:w-xl text-white">
				<div
					class="[&>h2]:text-center mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full"
				>
					<h2>{{ selectedPlan[0].name }}</h2>
					<h2>{{ selectedPlan[1].name }}</h2>
					<h2>{{ selectedPlan[2].name }}</h2>
				</div>
				<div
					class="mb-4 [&>i]:text-center grid gap-4 grid-cols-2 lg:grid-cols-3 w-full text-gray"
				>
					<i>{{ selectedPlan[0].tagline }}</i>
					<i>{{ selectedPlan[1].tagline }}</i>
					<i>{{ selectedPlan[2].tagline }}</i>
				</div>
				<div class="grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<select
						@change="selectedPlan[0] = plans.find(p => p.name === $el.value)"
						:value="selectedPlan[0].name"
						class="form-select"
					>
						<option>Select Plan</option>
						<option v-for="plan in plans" :value="plan.name">
							{{ plan.name }}
						</option>
					</select>
					<select
						@change="selectedPlan[1] = plans.find(p => p.name === $el.value)"
						:value="selectedPlan[1].name"
						class="form-select"
					>
						<option>Select Plan</option>
						<option v-for="plan in plans" :value="plan.name">
							{{ plan.name }}
						</option>
					</select>
					<select
						@change="selectedPlan[2] = plans.find(p => p.name === $el.value)"
						:value="selectedPlan[2].name"
						class="form-select"
					>
						<option>Select Plan</option>
						<option v-for="plan in plans" :value="plan.name">
							{{ plan.name }}
						</option>
					</select>
				</div>

				<wm-divider label="Price"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>${{ selectedPlan[0].price }}</p>
					<p>${{ selectedPlan[1].price }}</p>
					<p>${{ selectedPlan[2].price }}</p>
				</div>
				<wm-divider label="Max People"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].maxPeople }}</p>
					<p>{{ selectedPlan[1].maxPeople }}</p>
					<p>{{ selectedPlan[2].maxPeople }}</p>
				</div>
				<wm-divider label="Duration"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].duration }}</p>
					<p>{{ selectedPlan[1].duration }}</p>
					<p>{{ selectedPlan[2].duration }}</p>
				</div>
				<wm-divider label="Altitude"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].altitude }}</p>
					<p>{{ selectedPlan[1].altitude }}</p>
					<p>{{ selectedPlan[2].altitude }}</p>
				</div>
				<wm-divider label="Meals"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].meals }}</p>
					<p>{{ selectedPlan[1].meals }}</p>
					<p>{{ selectedPlan[2].meals }}</p>
				</div>
				<wm-divider label="Orbit Experience"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].orbitExperience }}</p>
					<p>{{ selectedPlan[1].orbitExperience }}</p>
					<p>{{ selectedPlan[2].orbitExperience }}</p>
				</div>
				<wm-divider label="Moon Experience"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].moonExperience }}</p>
					<p>{{ selectedPlan[1].moonExperience }}</p>
					<p>{{ selectedPlan[2].moonExperience }}</p>
				</div>
				<wm-divider label="Rocket"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].rocket }}</p>
					<p>{{ selectedPlan[1].rocket }}</p>
					<p>{{ selectedPlan[2].rocket }}</p>
				</div>
				<wm-divider label="Training"></wm-divider>
				<div class="mb-4 grid gap-4 grid-cols-2 lg:grid-cols-3 w-full">
					<p>{{ selectedPlan[0].training ? 'Required' : 'Not required' }}</p>
					<p>{{ selectedPlan[1].training ? 'Required' : 'Not required' }}</p>
					<p>{{ selectedPlan[2].training ? 'Required' : 'Not required' }}</p>
				</div>
			</div>
		</div>
		<wm-footer></wm-footer>
	</body>
</html>
